{% extends "home/base.html" %}

{% block title %}File Explorer - {% endblock %}

{% block head_append %}
    <style>
        td:nth-last-child(3) {
            width: 4em;
            max-width: 4em;
        }

        td:nth-last-child(2) {
            width: 5em;
            max-width: 5em;
        }

        td:nth-last-child(1) {
            width: 10em;
            max-width: 10em;
        }
    </style>
{% endblock %}

{% block jumbotron %}
    <h1>服务器文件浏览</h1>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>文件名</th>
                        <th>模式</th>
                        <th>大小</th>
                        <th>修改时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td><a href="?path={{ file.path }}">{{ file.name }}{% if file.is_dir %}/{% endif %}</a></td>
                            <td>{{ file.mode }}</td>
                            <td>{{ file.size }}</td>
                            <td>{{ file.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
