{% extends "home/base.html" %}

{% block jumbotron %}
    <h1 class="mb-4">蓝鲸 Django 项目起始模板</h1>
    <p class="lead mb-4">使用一个简化的 <a href="{% url 'utils:files' %}?path=./settings.py" target="_blank" rel="noopener"><code>settings.py</code></a>，让原生 Django 项目可以运行在蓝鲸智云上。</p>
    <p class="small">你可能认为蓝鲸智云的默认 Django 项目有很多使用不到的配置、不利于初学者学习的配置。</p>
    <p class="small">这个仓库为您提供一个 <code>settings.py</code>，使用它即可使一个原生 Django 项目运行在蓝鲸智云上。</p>
    <p class="small">你也可以克隆这个示例仓库，作为一个项目的模板。但是请注意，整个仓库的精华就在 <code>settings.py</code> 中。</p>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="content">
            <h2 class="text-center my-4">开始使用</h2>
            <div class="markdown-body">
                {{ content|safe }}
            </div>
            <div class="text-center my-4">
                <a href="{% url 'home:docs' %}" class="btn btn-outline-primary btn-lg px-md-5">了解更多</a>
            </div>
        </div>
    </div>
{% endblock %}
