.github-logo {
    fill: currentColor;
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: middle;
    margin-top: -3px;
}

.avatar-img {
    width: 2.5rem;
    height: 2.5rem;
    margin: -1em -0.5em -0.7em;
    border-radius: 50%;
}

.blueking-background svg {
    color: rgba(255, 255, 255, 0.5);
    fill: currentColor;
    height: 20rem;
    width: 27em;
}

.jumbotron {
    position: relative;
    overflow: hidden;
}

.jumbotron .blueking-background {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    user-select: none;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.visit-count {
    opacity: .3;
}
