{% extends "home/base.html" %}

{% block title %}Blue King API- {% endblock %}

{% block jumbotron %}
    <h1 class="mb-4">蓝鲸 API</h1>
    <p class="lead mb-4">使用一个简化的 <a href="{% url 'utils:files' %}?path=./blueking_api/blueking_api.py" target="_blank" rel="noopener"><code>blueking_api.py</code></a>，即可接入蓝鲸 API。</p>
    <p class="small">你可能认为蓝鲸开发框架已配置好的账户系统并不符合您的需求，或者认为代码过于复杂不利于初学者学习。</p>
    <p class="small">这个仓库为您提供一个扁平化的 <code>blueking_api.py</code>，你可以使用它来接入蓝鲸 API，按照自己的意愿构建用户系统。</p>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="content">
            <h5 class="my-4">您的 <code>openid</code>, <code>openkey</code> 如下，你可以使用它们进行测试</h5>
            <div class="my-4">
                <div class="form-group row">
                    <label for="form-input-openid" class="col-sm-2 col-form-label">openid</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control form-secret" id="form-input-openid" readonly value="{{ request.session.openid }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-input-openkey" class="col-sm-2 col-form-label">openkey</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control form-secret" id="form-input-openkey" readonly value="{{ request.session.openkey }}">
                    </div>
                </div>
            </div>
            <h2 class="text-center my-4">接口列表</h2>
            <div class="markdown-body">
                {{ content|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_append %}
    <script>
        document.querySelectorAll('.form-secret').forEach(function (item) {
            var debounceTime = 0;
            item.addEventListener('mouseover', function () {
                this.type = 'text';
                var _this = this;
                debounceTime = Date.now() + 2000;
                setTimeout(function () {
                    if (Date.now() > debounceTime - 100) {
                        _this.type = 'password';
                    }
                }, 2000);
            });
            item.addEventListener('mouseout', function () {
                this.type = 'password';
            });
        });
    </script>
{% endblock %}


