SECRET_KEY = '123456789*123456789*123456789*123456789*123456789*'

DATABASES = {
    'default': {
        'PASSWORD': '',
    }
}

PYINFO_PASSWORD = '1234567'

EMAIL_HOST = 'smtp.mailtrap.io'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = '2525'
